{% layout "layout.liquid" %} 

{% block content %}

<div class="open"><button id="myBtn">My Reading List</button></div>

<div id="myModal" class="modal">

  <div class="modal-content">
    <span class="close">&times;</span>
    <a href="/books"><button>Books I'm Reading</button></a>
    <a href="/books/read"><button>Books I've Read</button></a>

  </div>

</div>

{% endblock %}