{% layout "layout.liquid" %} 

{% block content %}

<!-- Trigger/Open The Modal -->
<div class="open"><button id="myBtn">Reading List</button></div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>text here</p>
    <a href="/books"><button>books</button></a>
  </div>

</div>

{% endblock %}