{% layout "layout.liquid" %} 

{% block content %}

<div class="open"><button id="myBtn">Reading List</button></div>

<div id="myModal" class="modal">

  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Click here to see my ongoing reading list</p>
    <a href="/books"><button>books</button></a>
  </div>

</div>

{% endblock %}