body {
    background-color: rgb(182, 206, 218);
}
h1 {
    color:rgb(42, 83, 133);
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
}

.books {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    padding: 20px 70px;
    margin: 20px;
    font-weight: bold;
    color: rgb(101, 114, 43);
    
}

.booktile{
    margin: 50px;
}

a{
    list-style: none;
    font-weight: bold;
    color:rgb(42, 83, 133);
    font-size: 15px;
}

.books img {
    height: 200px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.book img {
    height: 500px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(42, 83, 133);
    border: 0;
}

input[type=submit] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(42, 83, 133);
    border: 0;
}

.book {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    padding-top: 20px;
}

.left{
    width: 300px;
    padding-left: 50px;
}


.middle {
    margin: 0 100px;
}

.right {
    width: 300px;
    padding-right: 50px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

@media screen and (max-width: 600px) {
    .books {
        display: block;
        text-align: center;
        padding: 50px 50px;
        font-weight: bold;
        color: rgb(101, 114, 43);
    }
    .bookTitle {
        padding-top: 20px;
        font-size: 25px;
    }

    .book {
        display:block
    }
}

.open {
    margin-top: 300px;
}